<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
<span>Users table</span>
<table border="1" id="table" th:object="${users}">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user :${users}">
        <td>
            <a th:href="@{/user{id}(id=${user.id})}"><p th:text="${user.getId()}"></p></a>
        </td>
        <td th:text="${user.getUsername()}"></td>
        <td>
            <div th:each="role :${roles.get(user.getId())}">
                <span th:text="${role.getName()}"><br/></span>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<span>Orders table</span>
<table border="1" id="orders-table" th:object="${orders}">
    <thead>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>User</th>
        <th>Fullname</th>
        <th>ccNumber</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Tacos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order :${orders}">
        <td th:text="${order.getId()}"></td>
        <td th:text="${order.getPlacedAt()}"></td>
        <td th:text="${order.getUser().getUsername()}"></td>
        <td th:text="${order.getFullname()}"></td>
        <td th:text="${order.getCcNumber()}"></td>
        <td th:text="${order.getAddress()}"></td>
        <td th:text="${order.getPhone()}"></td>
        <td>
            <table border="1" id="tacos-table" th:object="${order.getTacos()}">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Ingredients</th>
                    <th>Qty</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="taco :${tacos.get(order.getId())}">
                    <td>
                        <span th:text="${taco.getName()}"><br/></span>
                    </td>
                    <td>
                        <div th:each="ingr :${ingrs.get(taco.getId())}">
                            <span th:text="${ingr.getName()}"><br/></span>
                        </div>
                    </td>
                    <td>
                        <span th:text="${taco.getQty()}"><br/></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>