<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
<form method="post" th:action="@{/orders/current}" th:object="${order}">
    <h1>Order your taco creations!</h1>

    <a id="another" th:href="@{/design}">Design another taco</a>
    <br/>

    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Please correct the problems below and resubmit
            </span>
    </div>

    <h3>Here's how I'll pay...</h3>
    <label for="ccNumber">Credit Card #: </label>
    <input th:field="*{ccNumber}" type="text"/>
    <span class="validationError" th:errors="*{ccNumber}"
          th:if="${#fields.hasErrors('ccNumber')}">ccNumber error</span>
    <br/>

    <label for="ccExpiration">Expiration: </label>
    <input th:field="*{ccExpiration}" type="text"/>
    <span class="validationError" th:errors="*{ccExpiration}"
          th:if="${#fields.hasErrors('ccExpiration')}">ccExpiration error</span>
    <br/>

    <label for="ccCVV">CVV: </label>
    <input th:field="*{ccCVV}" type="text"/>
    <span class="validationError" th:errors="*{ccCVV}"
          th:if="${#fields.hasErrors('ccCVV')}">ccCVV error</span>
    <br/>

    <input type="submit" value="Submit order"/>
</form>
</body>
</html>