<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<form id="registerForm" method="post" th:action="@{/register}" th:object="${form}">
    <label for="username">Username: </label>
    <input th:field="*{username}" type="text"/>
    <span class="validationError" th:errors="*{username}"
          th:if="${#fields.hasErrors('username')}">username error</span>
    <br/>

    <label for="password">Password: </label>
    <input th:field="*{password}" type="password"/>
    <span class="validationError" th:errors="*{password}"
          th:if="${#fields.hasErrors('password')}">password error</span>
    <br/>

    <label for="fullname">Full name: </label>
    <input th:field="*{fullname}" type="text"/>
    <span class="validationError" th:errors="*{fullname}"
          th:if="${#fields.hasErrors('fullname')}">fullname error</span>
    <br/>

    <label for="street">Street: </label>
    <input th:field="*{street}" type="text"/>
    <span class="validationError" th:errors="*{street}"
          th:if="${#fields.hasErrors('street')}">street error</span>
    <br/>

    <label for="city">City: </label>
    <input th:field="*{city}" type="text"/>
    <span class="validationError" th:errors="*{city}"
          th:if="${#fields.hasErrors('city')}">city error</span>
    <br/>

    <label for="state">State: </label>
    <input th:field="*{state}" type="text"/>
    <span class="validationError" th:errors="*{state}"
          th:if="${#fields.hasErrors('state')}">state error</span>
    <br/>

    <label for="zip">Zip: </label>
    <input th:field="*{zip}" type="text"/>
    <span class="validationError" th:errors="*{zip}"
          th:if="${#fields.hasErrors('zip')}">zip error</span>
    <br/>

    <label for="phone">Phone: </label>
    <input th:field="*{phone}" type="text"/>
    <span class="validationError" th:errors="*{phone}"
          th:if="${#fields.hasErrors('phone')}">phone error</span>
    <br/>

    <input type="submit" value="Register"/>
</form>
</body>
</html>