<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<form id="updateForm" method="post" th:action="@{/user{id}(id=${user.id})}" th:object="${user}">
    <label for="id">Id: </label>
    <input readonly="readonly" th:field="*{id}" type="text"/>
    <br/>

    <label for="username">Username: </label>
    <input th:field="*{username}" type="text"/>
    <span class="validationError" th:errors="*{username}"
          th:if="${#fields.hasErrors('username')}">username error</span>
    <br/>

    <input type="submit" value="Update"/>
</form>
<span>Orders table</span>
<table border="1" id="orders-table" th:object="${orders}">
    <thead>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>User</th>
        <th>ccNumber</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Tacos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order :${orders}">
        <td th:text="${order.getId()}"></td>
        <td th:text="${order.getPlacedAt()}"></td>
        <td th:text="${order.getUser().getUsername()}"></td>
        <td th:text="${order.getCcNumber()}"></td>
        <td th:text="${order.getAddress()}"></td>
        <td th:text="${order.getPhone()}"></td>
        <td>
            <table border="1" id="tacos-table" th:object="${order.getTacos()}">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Ingredients</th>
                    <th>Qty</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="taco :${tacos.get(order.getId())}">
                    <td>
                        <span th:text="${taco.getName()}"><br/></span>
                    </td>
                    <td>
                        <div th:each="ingr :${ingrs.get(taco.getId())}">
                            <span th:text="${ingr.getName()}"><br/></span>
                        </div>
                    </td>
                    <td>
                        <span th:text="${taco.getQty()}"><br/></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>