<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<table border="1" id="table" th:object="${user}">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>FullName</th>
        <th>State</th>
        <th>City</th>
        <th>Street</th>
        <th>Zip</th>
        <th>Phone number</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a th:href="@{/user{id}(id=${user.id})}"><p th:text="${user.username}"></p></a>
        </td>
        <!--            <td th:text="${user.getId()}" th:href="@{@{user(id=${user.getId()})}}"></td>-->
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getFullname()}"></td>
        <td th:text="${user.getState()}"></td>
        <td th:text="${user.getCity()}"></td>
        <td th:text="${user.getStreet()}"></td>
        <td th:text="${user.getZip()}"></td>
        <td th:text="${user.getPhoneNumber()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>